/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2017, 8:52:46 AM
    Author     : TienYen
*/
*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.container{
    width: 1356px;
    margin-left: auto;
    margin-right: auto; 
}
.col-1{
    width: 113px;
}
.col-2{
    width: 226px;
}
.col-3{
    width: 339px;
}
.col-4{
    width: 452px;
}
.col-5{
    width: 565px;
}
.col-6{
    width: 678px;
}
.col-7{
    width: 791px;
}
.col-8{
    width: 904px;
}
.col-9{
    width: 1017px;
}
.col-10{
    width: 1130px;
}
.col-11{
    width: 1243px;
}
.col-12{
    width: 1356px;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    position: relative;
    float: left;
}
main{
    width: 100%;
    
}
header,nav,section,footer{
    width: 100%;
}